<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YGPModel.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>184481F61C322D27001E8F30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1844820F1C322D27001E8F30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1844821A1C322D27001E8F30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
